---
// Basic Contact Form
// ------------
// Description: A basic contact form with fields for first name, last name, email, phone number and message.
// Properties:
// - classes: Additional classes to be added to the block
// ------------

// Components
// - UI
import Card from '../../ui/cards/partials/Card.astro'
import CardBody from '../../ui/cards/partials/CardBody.astro'
import Form from '../../ui/forms/Form.astro'
import FormField from '../../ui/forms/partials/FormField.astro'
import InputField from '../../ui/forms/form-elements/InputField.astro'
import TextArea from '../../ui/forms/form-elements/TextArea.astro'
import Button from '../../ui/Button.astro'

// Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<Card classes={classes}>
	<CardBody>
		<Form>
			<h2 class="text-2xl">Nous contacter</h2>
			<FormField>
				<InputField type="text" id="firstName" label="Nom" />
				<InputField type="text" id="lastName" label="Prénom" />
			</FormField>
			<FormField>
				<InputField type="email" id="email" label="Adresse Email" required value="monemail@exemple.com" />
			</FormField>
			<FormField>
				<InputField type="tel" id="phone" label="Numéro de téléphone" />
			</FormField>
			<FormField><TextArea id="message" label="Votre Message" /></FormField>
			<Button style="primary" type="submit">Envoyer</Button>
		</Form>
	</CardBody>
</Card>
