---
// Social Proof Section
// ------------
// Description: A section with logos of social media platforms to enchance the trust of the users.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import { Image } from 'astro:assets'

// Content
import univ1 from '../../../assets/logos/univ1-wwa.svg'
import univ2 from '../../../assets/logos/univ2-wwa.svg'
import univ3 from '../../../assets/logos/univ3-wwa.svg'
import univ4 from '../../../assets/logos/univ4-wwa.svg'
import univ5 from '../../../assets/logos/univ5-wwa.svg'
import univ6 from '../../../assets/logos/univ6-wwa.svg'

const images = [
	{
		image: univ1,
		alt: 'Université Partenaire à WWA logo'
	},
	{
		image: univ2,
		alt: 'Université Partenaire à WWA logo'
	},
	{
		image: univ3,
		alt: 'Université Partenaire à WWA logo'
	},
	{
		image: univ4,
		alt: 'Université Partenaire à WWA logo'
	},
	{
		image: univ5,
		alt: 'Université Partenaire à WWA logo'
	},
	{
		image: univ6,
		alt: 'Université Partenaire à WWA logo'
	}
]

// Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<Section padding="bottom" classes={classes}>
	<Row>
		<Col span="12" align="center">
			<h2 class="!mb-6 text-base font-normal text-neutral-400 dark:text-neutral-600">
				Partenaire de <strong class="highlight">+50</strong> Universités
			</h2></Col
		>
	</Row>
	<Row flex classes="!flex-row">
		{
			images.map((item) => (
				<Col>
					<Image src={item.image} alt={item.alt} />
				</Col>
			))
		}
	</Row>
</Section>
