---
// Signup Modal
// ------------
// Description: A modal with a form to sign up.

// Components
// - UI
import Modal from '../../ui/Modal.astro'
import Form from '../../ui/forms/Form.astro'
import FormField from '../../ui/forms/partials/FormField.astro'
import InputField from '../../ui/forms/form-elements/InputField.astro'
import Button from '../../ui/Button.astro'
import { Icon } from 'astro-icon/components'

// Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<Modal id="signup" classes={classes} title="S'inscrire">
	<p class="mb-0">Entrez votre email pour vous inscrire sur la plateforme WWA.</p>
	<Form>
		<FormField>
			<InputField type="email" id="email" label="Adresse Email" />
		</FormField>
		<Button style="primary" type="submit" classes="w-full" size="lg">S'inscrire</Button>
		<div class="my-2 text-center">or</div>
		<Button
			style="primary"
			type="submit"
			classes="w-full"
			size="lg"
			classes="!bg-white w-full !text-neutral-500 border border-neutral-100"
		>
			<Icon name="google-logo" class="h-6 w-6" />
			S'inscrire avec Google
		</Button>
	</Form>
</Modal>
